[Unit]
Description=ZimaOS EasyTier Core
Wants=network-online.target
Wants=zimaos-easytier-web.service
After=network-online.target network.service zimaos-easytier-web.service

[Service]
Type=simple
ExecStart=/usr/bin/zimaos-easytier-core -w tcp://[::]:22020/admin
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
