[Unit]
Description=ZimaOS EasyTier Web Control
Wants=network-online.target
After=network-online.target network.service zimaos-gateway.service

[Service]
Type=simple
Environment="ZIMAOS_EASYTIER_WEB_AUTH_JWKS_URL=http://127.0.0.1:37815/.well-known/jwks.json"
EnvironmentFile=-/etc/casaos/zimaos-easytier-web.conf
ExecStart=/usr/bin/zimaos-easytier-web --db /var/lib/casaos/et.db --config-server-protocol tcp --api-server-port 41231 --api-server-addr 127.0.0.1 --disable-registration
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
